# Importing Packages

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing Data

In [2]:
# Import data from csv file
data = pd.read_csv("CaribbeanAllFinal.csv", low_memory=False)
data.head()

,ep1,econviol,emotvio,physvio,sexvio,sexphys,typevio,physcur,sexcur,emotcur,...,rQ701c,rQ701d,HighIncome,Island,Governance,HDI,LAWDV,Governance1,HDI1,LAWDV1
0,1,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0.16,0.654,37,0,0,0
1,1,1,1,1,1,1,3,0,0,0,...,1,1,0,0,0.16,0.654,37,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0.16,0.654,37,0,0,0
3,1,0,1,1,0,1,1,0,0,1,...,1,1,0,0,0.16,0.654,37,0,0,0
4,1,0,0,1,0,1,1,0,0,0,...,1,1,0,0,0.16,0.654,37,0,0,0

In [3]:
data.shape

(5795, 91)

In [4]:
#data.columns

In [5]:
df_caribbean = data[["country", "EP3", "earlymarriage", "FCMAR", "ageyr10", "edresp", "w_religion",
                 "ETHNICITY", "employstatus", "SourceIncome", "Fam_support", 'mcv1006', 'mcv1006a', 'mcv1006b',
                 'agepartner', 'sumdiffage', 'edpart', 'p_employ', 'men_alcohol_all', 'mcv1008', 'mcv1009',
                 'Q513R', 'Q515R', 'Q516R', 
                  "rQ701a", "rQ701b", "rQ701c", "rQ701d", "Q702R",
                  "sQ601a", 'sQ601b', 'sQ601c', 'sQ601d', 'sQ601e', 'sQ601f',
                  "tQ602a", "tQ602b", 'tQ602c', "tQ602d",
                  "justify", 
                  'CONTROLNUM', 
                   'econviol', 'emotvio',
                     'HighIncome', 'Island', 'Governance1', 'HDI1', 'LAWDV1',
                   "sexphys"]]
df_caribbean.head()

,country,EP3,earlymarriage,FCMAR,ageyr10,edresp,w_religion,ETHNICITY,employstatus,SourceIncome,...,justify,CONTROLNUM,econviol,emotvio,HighIncome,Island,Governance1,HDI1,LAWDV1,sexphys
0,1,1,0,0,3,2,0,4,4,2,...,0,0,0,0,0,0,0,0,0,0
1,1,4,1,0,5,2,1,1,2,5,...,0,3,1,1,0,0,0,0,0,1
2,1,4,9,9,1,3,1,6,4,5,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,5,2,1,5,4,3,...,0,0,0,1,0,0,0,0,0,1
4,1,4,1,1,4,1,0,4,3,2,...,1,0,0,0,0,0,0,0,0,1

# OVERALL PREPROCESSING

# Checking for Missing Values

In [6]:
#Check for missing values
#df_caribbean.isnull().sum()

# Split the Data

In [7]:
Guyana = df_caribbean[df_caribbean['country']==1]
Jamaica = df_caribbean[df_caribbean['country']==2]
Suriname = df_caribbean[df_caribbean['country']==3]
Trinidad = df_caribbean[df_caribbean['country']==4]
Grenada = df_caribbean[df_caribbean['country']==5]

In [8]:
Guyana_X = Guyana.iloc[:, :-1]
Guyana_y = Guyana.iloc[:, -1]

Jamaica_X = Jamaica.iloc[:, :-1]
Jamaica_y = Jamaica.iloc[:, -1]

Suriname_X = Suriname.iloc[:, :-1]
Suriname_y = Suriname.iloc[:, -1]

Trinidad_X = Trinidad.iloc[:, :-1]
Trinidad_y = Trinidad.iloc[:, -1]

Grenada_X = Grenada.iloc[:, :-1]
Grenada_y = Grenada.iloc[:, -1]

In [9]:
# Randomly choose 30% of the data for validation and testing
from sklearn.model_selection import train_test_split
GuyanaX_train, GuyanaX_rest, Guyanay_train, Guyanay_rest = train_test_split(Guyana_X, 
                                                                            Guyana_y, 
                                                                            test_size=0.3, 
                                                                            random_state=0, 
                                                                            stratify=Guyana_y)

In [10]:
JamaicaX_train, JamaicaX_rest, Jamaicay_train, Jamaicay_rest = train_test_split(Jamaica_X, 
                                                                                Jamaica_y, 
                                                                                test_size=0.3, 
                                                                                random_state=0, 
                                                                                stratify=Jamaica_y)

In [11]:
SurinameX_train, SurinameX_rest, Surinamey_train, Surinamey_rest = train_test_split(Suriname_X, 
                                                                                    Suriname_y, 
                                                                                    test_size=0.3, 
                                                                                    random_state=0, 
                                                                                    stratify=Suriname_y)

In [12]:
TrinidadX_train, TrinidadX_rest, Trinidady_train, Trinidady_rest = train_test_split(Trinidad_X, 
                                                                                    Trinidad_y, 
                                                                                    test_size=0.3, 
                                                                                    random_state=0, 
                                                                                    stratify=Trinidad_y)

In [13]:
GrenadaX_train, GrenadaX_rest, Grenaday_train, Grenaday_rest = train_test_split(Grenada_X, 
                                                                                    Grenada_y, 
                                                                                    test_size=0.3, 
                                                                                    random_state=0, 
                                                                                    stratify=Grenada_y)

In [14]:
# Randomly choose 50% of the data for testing
GuyanaX_val, GuyanaX_test, Guyanay_val, Guyanay_test = train_test_split(GuyanaX_rest, 
                                                                            Guyanay_rest, 
                                                                            test_size=0.5, 
                                                                            random_state=0, 
                                                                            stratify=Guyanay_rest)

In [15]:
JamaicaX_val, JamaicaX_test, Jamaicay_val, Jamaicay_test = train_test_split(JamaicaX_rest, 
                                                                            Jamaicay_rest, 
                                                                            test_size=0.5, 
                                                                            random_state=0, 
                                                                            stratify=Jamaicay_rest)

In [16]:
SurinameX_val, SurinameX_test, Surinamey_val, Surinamey_test = train_test_split(SurinameX_rest, 
                                                                            Surinamey_rest, 
                                                                            test_size=0.5, 
                                                                            random_state=0, 
                                                                            stratify=Surinamey_rest)

In [17]:
TrinidadX_val, TrinidadX_test, Trinidady_val, Trinidady_test = train_test_split(TrinidadX_rest, 
                                                                            Trinidady_rest, 
                                                                            test_size=0.5, 
                                                                            random_state=0, 
                                                                            stratify=Trinidady_rest)

In [18]:
GrenadaX_val, GrenadaX_test, Grenaday_val, Grenaday_test = train_test_split(GrenadaX_rest, 
                                                                            Grenaday_rest, 
                                                                            test_size=0.5, 
                                                                            random_state=0, 
                                                                            stratify=Grenaday_rest)

In [19]:
X_train = pd.concat([GuyanaX_train, JamaicaX_train, SurinameX_train, TrinidadX_train, GrenadaX_train])
y_train = pd.concat([Guyanay_train, Jamaicay_train, Surinamey_train, Trinidady_train, Grenaday_train])
#df_train = X_train.join(y_train)

X_train_other = X_train[['anyIPV', 'HighIncome', 'Island', 'Governance1', 'HDI1', 'LAWDV1']]

(X_train_other['anyIPV']==1).sum() #/y_train.shape[0]

X_train.drop(columns=['anyIPV', 'HighIncome', 'Island', 'Governance1', 'HDI1', 'LAWDV1'], inplace=True)

In [20]:
#X_train.columns

In [21]:
df_train = X_train.join(y_train)

In [22]:
X_val = pd.concat([GuyanaX_val, JamaicaX_val, SurinameX_val, TrinidadX_val, GrenadaX_val])
y_val = pd.concat([Guyanay_val, Jamaicay_val, Surinamey_val, Trinidady_val, Grenaday_val])
#df_val = X_val.join(y_val)

In [23]:
X_test = pd.concat([GuyanaX_test, JamaicaX_test, SurinameX_test, TrinidadX_test, GrenadaX_test])
y_test = pd.concat([Guyanay_test, Jamaicay_test, Surinamey_test, Trinidady_test, Grenaday_test])
#df_test = X_test.join(y_test)

In [24]:
(y_train==1).sum()/y_train.shape[0]

0.32289097187962507

In [25]:
(y_val==1).sum()/y_val.shape[0]

0.3222094361334868

In [26]:
(y_test==1).sum()/y_test.shape[0]

0.32224770642201833

(X_train_other['anyIPV']==1).sum() /y_train.shape[0]

(X_val_other['anyIPV']==1).sum() /y_val.shape[0]

(X_test_other['anyIPV']==1).sum() /y_test.shape[0]

# Features Selection

## SET 1: CHI2

In [27]:
from scipy.stats import chi2_contingency

In [28]:
def chi2_sexphys(dfr_Xtrain, dfr_ytrain):
    'Do a Chi2 test of independence and choose the significant dependence'
    columns=dfr_Xtrain.columns.tolist()
    
    p_value = []
    for column in columns:
        observed = pd.crosstab(dfr_Xtrain[column], dfr_ytrain)
        p_value.append(chi2_contingency(observed= observed)[1])

    df = pd.DataFrame({"variable":columns, 
                           "p_value":p_value})
    df2 = df[df.p_value <= 0.05]
    df2 = df2.sort_values(by='p_value', ascending=True)
    return df2

In [29]:
All_sign=chi2_sexphys(X_train, y_train)

In [30]:
All_sign.shape

(36, 2)

In [31]:
colsig = list(All_sign.variable.values)

In [32]:
# Select only the significant variables 
X_train_reduced = X_train[colsig].copy()  #might need to create a function???
X_train_reduced.head()

,emotvio,CONTROLNUM,Q702R,econviol,Q515R,Q513R,mcv1006,mcv1006a,mcv1006b,mcv1008,...,Governance1,sQ601c,sQ601d,EP3,FCMAR,tQ602d,SourceIncome,ageyr10,justify,tQ602c
995,0,0,2,0,0,0,0,1,1,0,...,0,1,1,2,0,1,5,2,0,0
962,0,0,2,0,0,0,0,0,0,1,...,0,1,1,1,0,1,4,2,1,0
998,0,0,1,0,0,0,0,0,1,0,...,0,1,0,2,0,0,4,2,0,0
639,0,1,1,0,1,0,0,0,0,0,...,0,0,0,4,9,0,5,4,1,0
932,0,0,2,0,0,0,0,0,0,0,...,0,0,0,4,0,0,5,4,0,0

In [33]:
X_train_reduced.columns

Index(['emotvio', 'CONTROLNUM', 'Q702R', 'econviol', 'Q515R', 'Q513R',
       'mcv1006', 'mcv1006a', 'mcv1006b', 'mcv1008', 'men_alcohol_all',
       'mcv1009', 'earlymarriage', 'Fam_support', 'Q516R', 'edpart', 'rQ701d',
       'Island', 'rQ701b', 'rQ701a', 'sumdiffage', 'edresp', 'LAWDV1',
       'country', 'rQ701c', 'HDI1', 'Governance1', 'sQ601c', 'sQ601d', 'EP3',
       'FCMAR', 'tQ602d', 'SourceIncome', 'ageyr10', 'justify', 'tQ602c'],
      dtype='object')

In [34]:
pd.crosstab(X_train_reduced['CONTROLNUM'], y_train)

sexphys        0    1
CONTROLNUM
0           1489  367
1            622  245
2            339  258
3            295  439

In [35]:
pd.crosstab(X_train_reduced['CONTROLNUM'], y_train, margins=True)['All']

CONTROLNUM
0      1856
1       867
2       597
3       734
All    4054
Name: All, dtype: int64

In [36]:
pd.crosstab(X_train_reduced['CONTROLNUM'], y_train, margins=True)[1] / pd.crosstab(X_train_reduced['CONTROLNUM'], y_train, margins=True)['All']

CONTROLNUM
0      0.197737
1      0.282584
2      0.432161
3      0.598093
All    0.322891
dtype: float64

In [37]:
nominal_var = ["earlymarriage", 'edpart', 'sumdiffage','edresp',#'country',
                'EP3', 'FCMAR','ageyr10','SourceIncome',"Q702R", 'CONTROLNUM',
              'LAWDV1', 'HDI1', 'Governance1' ]
for var in nominal_var:
    print(pd.crosstab(X_train_reduced[var], y_train, margins=True)[1] / pd.crosstab(X_train_reduced[var], y_train, margins=True)['All'])

earlymarriage
0      0.302930
1      0.447482
9      0.287208
All    0.322891
dtype: float64
edpart
1      0.372140
2      0.313984
3      0.239227
All    0.322891
dtype: float64
sumdiffage
1      0.405732
2      0.303571
3      0.311203
4      0.304950
All    0.322891
dtype: float64
edresp
1      0.376048
2      0.324205
3      0.273298
All    0.322891
dtype: float64
EP3
1      0.286312
2      0.363429
3      0.332432
4      0.342430
All    0.322891
dtype: float64
FCMAR
0      0.327026
1      0.370667
9      0.287208
All    0.322891
dtype: float64
ageyr10
1      0.259067
2      0.317682
3      0.347503
4      0.327081
5      0.345588
All    0.322891
dtype: float64
SourceIncome
1      0.325333
2      0.360841
3      0.280042
4      0.316667
5      0.320819
All    0.322891
dtype: float64
Q702R
1      0.223394
2      0.348054
3      0.663569
All    0.322891
dtype: float64
CONTROLNUM
0      0.197737
1      0.282584
2      0.432161
3      0.598093
All    0.322891
dtype: float64
LAWDV1
0      0.378212
1      0.278592
2      0.313047
All    0.322891
dtype: float64
HDI1
0      0.378212
1      0.313468
2      0.295795
All    0.322891
dtype: float64
Governance1
0      0.378212
1      0.309912
2      0.289855
All    0.322891
dtype: float64

In [38]:
nominal_var = ["earlymarriage", 'edpart', 'sumdiffage','edresp',#'country',
                'EP3', 'FCMAR','ageyr10','SourceIncome',"Q702R", 'CONTROLNUM',
              'LAWDV1', 'HDI1', 'Governance1']
for var in nominal_var:
    X_train_reduced[var] = X_train_reduced[var].astype('category')

In [39]:
X_train_dummies = pd.get_dummies(X_train_reduced)

In [40]:
X_train_dummies.shape

(4054, 69)

In [41]:
X_train_dummies.columns

Index(['emotvio', 'econviol', 'Q515R', 'Q513R', 'mcv1006', 'mcv1006a',
       'mcv1006b', 'mcv1008', 'men_alcohol_all', 'mcv1009', 'Fam_support',
       'Q516R', 'rQ701d', 'Island', 'rQ701b', 'rQ701a', 'country', 'rQ701c',
       'sQ601c', 'sQ601d', 'tQ602d', 'justify', 'tQ602c', 'CONTROLNUM_0',
       'CONTROLNUM_1', 'CONTROLNUM_2', 'CONTROLNUM_3', 'Q702R_1', 'Q702R_2',
       'Q702R_3', 'earlymarriage_0', 'earlymarriage_1', 'earlymarriage_9',
       'edpart_1', 'edpart_2', 'edpart_3', 'sumdiffage_1', 'sumdiffage_2',
       'sumdiffage_3', 'sumdiffage_4', 'edresp_1', 'edresp_2', 'edresp_3',
       'LAWDV1_0', 'LAWDV1_1', 'LAWDV1_2', 'HDI1_0', 'HDI1_1', 'HDI1_2',
       'Governance1_0', 'Governance1_1', 'Governance1_2', 'EP3_1', 'EP3_2',
       'EP3_3', 'EP3_4', 'FCMAR_0', 'FCMAR_1', 'FCMAR_9', 'SourceIncome_1',
       'SourceIncome_2', 'SourceIncome_3', 'SourceIncome_4', 'SourceIncome_5',
       'ageyr10_1', 'ageyr10_2', 'ageyr10_3', 'ageyr10_4', 'ageyr10_5'],
      dtype='object')

In [42]:
#Drop columns based on theory and chi2 contingency
X_train_dummies.drop(columns=['earlymarriage_9', 'edpart_3', 'sumdiffage_4', 'edresp_3', #'country_2', 
                              'EP3_1', 'FCMAR_9', 
                              'ageyr10_1', 'SourceIncome_3', 'Q702R_1', 'CONTROLNUM_0', 'LAWDV1_1', 'HDI1_2',
                             'Governance1_2'], inplace=True)

In [43]:
X_train_dummies.columns

Index(['emotvio', 'econviol', 'Q515R', 'Q513R', 'mcv1006', 'mcv1006a',
       'mcv1006b', 'mcv1008', 'men_alcohol_all', 'mcv1009', 'Fam_support',
       'Q516R', 'rQ701d', 'Island', 'rQ701b', 'rQ701a', 'country', 'rQ701c',
       'sQ601c', 'sQ601d', 'tQ602d', 'justify', 'tQ602c', 'CONTROLNUM_1',
       'CONTROLNUM_2', 'CONTROLNUM_3', 'Q702R_2', 'Q702R_3', 'earlymarriage_0',
       'earlymarriage_1', 'edpart_1', 'edpart_2', 'sumdiffage_1',
       'sumdiffage_2', 'sumdiffage_3', 'edresp_1', 'edresp_2', 'LAWDV1_0',
       'LAWDV1_2', 'HDI1_0', 'HDI1_1', 'Governance1_0', 'Governance1_1',
       'EP3_2', 'EP3_3', 'EP3_4', 'FCMAR_0', 'FCMAR_1', 'SourceIncome_1',
       'SourceIncome_2', 'SourceIncome_4', 'SourceIncome_5', 'ageyr10_2',
       'ageyr10_3', 'ageyr10_4', 'ageyr10_5'],
      dtype='object')

### Create the dummies data for validation and test set

In [44]:
def dummies(df):    
    df_reduced = df[list(All_sign.variable)].copy() 

    for var in nominal_var:
        df_reduced[var] = df_reduced[var].astype('category')  ### Might need to consider reduced for the multilevel regression

    df_dummies = pd.get_dummies(df_reduced)
    
    return df_dummies

In [45]:
X_val_dummies = dummies(X_val)

In [46]:
X_test.columns

Index(['country', 'EP3', 'earlymarriage', 'FCMAR', 'ageyr10', 'edresp',
       'w_religion', 'ETHNICITY', 'employstatus', 'SourceIncome',
       'Fam_support', 'mcv1006', 'mcv1006a', 'mcv1006b', 'agepartner',
       'sumdiffage', 'edpart', 'p_employ', 'men_alcohol_all', 'mcv1008',
       'mcv1009', 'Q513R', 'Q515R', 'Q516R', 'rQ701a', 'rQ701b', 'rQ701c',
       'rQ701d', 'Q702R', 'sQ601a', 'sQ601b', 'sQ601c', 'sQ601d', 'sQ601e',
       'sQ601f', 'tQ602a', 'tQ602b', 'tQ602c', 'tQ602d', 'justify',
       'CONTROLNUM', 'econviol', 'emotvio', 'HighIncome', 'Island',
       'Governance1', 'HDI1', 'LAWDV1'],
      dtype='object')

In [47]:
X_test_dummies = dummies(X_test)

In [48]:
#X_test_dummies.head()

In [49]:
#Drop columns based on theory and chi2 contingency
X_val_dummies.drop(columns=['earlymarriage_9', 'edpart_3', 'sumdiffage_4', 'edresp_3', #'country_2', 
                            'EP3_1', 'FCMAR_9', 
                              'ageyr10_1', 'SourceIncome_3', 'Q702R_1', 'CONTROLNUM_0', 'LAWDV1_1', 'HDI1_2',
                             'Governance1_2'], inplace=True)

In [50]:
#Drop columns based on theory and chi2 contingency
X_test_dummies.drop(columns=['earlymarriage_9', 'edpart_3', 'sumdiffage_4', 'edresp_3', #'country_2', 
                             'EP3_1', 'FCMAR_9', 
                              'ageyr10_1', 'SourceIncome_3', 'Q702R_1', 'CONTROLNUM_0', 'LAWDV1_1', 'HDI1_2',
                             'Governance1_2'], inplace=True)

In [51]:
df_train = X_train_dummies.join(y_train)
df_val = X_val_dummies.join(y_val)
df_test = X_test_dummies.join(y_test)

In [52]:
df_train.head()

,emotvio,econviol,Q515R,Q513R,mcv1006,mcv1006a,mcv1006b,mcv1008,men_alcohol_all,mcv1009,...,FCMAR_1,SourceIncome_1,SourceIncome_2,SourceIncome_4,SourceIncome_5,ageyr10_2,ageyr10_3,ageyr10_4,ageyr10_5,sexphys
995,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,1,1,0,0,0,1
962,0,0,0,0,0,0,0,1,1,0,...,0,0,0,1,0,1,0,0,0,0
998,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,0,0,0,0
639,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
932,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [53]:
df_train.to_csv('df_train1.csv', sep=',', index=False)

In [54]:
df_val.to_csv('df_val1.csv', sep=',', index=False)

In [55]:
df_test.to_csv('df_test1.csv', sep=',', index=False)

In [67]:
' + '.join(list(df_train.columns))

'Q515R + Q513R + mcv1006 + mcv1006a + mcv1006b + mcv1008 + men_alcohol_all + mcv1009 + Fam_support + Q516R + rQ701d + Island + rQ701b + rQ701a + country + rQ701c + sQ601c + sQ601d + tQ602d + justify + tQ602c + CONTROLNUM_1 + CONTROLNUM_2 + CONTROLNUM_3 + Q702R_2 + Q702R_3 + earlymarriage_0 + earlymarriage_1 + edpart_1 + edpart_2 + sumdiffage_1 + sumdiffage_2 + sumdiffage_3 + edresp_1 + edresp_2 + LAWDV1_0 + LAWDV1_2 + HDI1_0 + HDI1_1 + Governance1_0 + Governance1_1 + EP3_2 + EP3_3 + EP3_4 + FCMAR_0 + FCMAR_1 + SourceIncome_1 + SourceIncome_2 + SourceIncome_4 + SourceIncome_5 + ageyr10_2 + ageyr10_3 + ageyr10_4 + ageyr10_5 + sexphys'